.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f2f2f2;
    }

    img {
      max-width: 2.4rem;
      border-radius: 5rem;
    }
  }
}

.sidebarShallow {
  background-color: red;
}

.sidebar {
  position: fixed;
  width: 30rem;
  top: 0;
  height: 100vh;
  padding: 5rem 3rem;
  border-right: 1px solid #dbdbdb;

  .logo {
    display: block;
    margin-bottom: 3rem;
  }

  .hasNotification {
    display: flex;
    position: relative;
    &::before {
      content: "";
      height: 10px;
      width: 10px;
      background-color: #e11d48;
      position: absolute;
      border-radius: 100px;
    }
  }
}

.active {
  font-weight: 600 !important;
}

//Notifications panel
.notificationPanel {
  position: fixed;
  left: 0;
  width: 35rem;
  max-width: 35rem;
  height: 100vh;
  background-color: #ffff;
  box-shadow: 0px 4px 20px rgba(#000, 0.25);
  top: 0;
  padding: 2rem 1rem;

  .requestsWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      font-weight: 500;
      color: #000;
      cursor: pointer;
      padding: 1rem 0.3rem;
      border-bottom: 1px solid #c0c0c0;
      &:hover {
        background-color: #efefef;
      }
    }
    img {
      border-radius: 5rem;
      max-width: 3.2rem;
    }
  }

  .nullNotifications {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .closeNotifications {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    top: 2rem;
    position: absolute;
    right: 1rem;
  }
}
